.App {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
  background-color: rgb(30, 34, 33);
  color: aliceblue;
  align-items: center;
  max-height: 10vh;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  text-decoration: none;
  list-style: none;                 /*removes dots*/
}